#grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    
  }

.cell{
    width: auto;    height: auto;
    

}
.img{
  width: 400px;
  height: 400px;
}
/* 

#buttonOne{
  background-image: url('questionMark.png'); 
  background-size: cover; 
            width: 400px; 
            height: 400px; 
} */